Request-Access-Right-dev/pkgs/Wadl/Createnewrequest.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Createnewrequest" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Create new request" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <integer name="ManualTriggerInput_varIDUser_Gia_Ux0301_tri_Ux0323__def" />
      <string name="ManualTriggerInput_Ta_Ux0323_omu_Ux0323_c_Ti_uxEA_u_Ux0111_uxEA_Ux0300__def" />
      <string name="ManualTriggerInput_Ta_Ux0323_omu_Ux0323_c_Description_def" />
      <string name="ManualTriggerInput_Ta_Ux0323_omu_Ux0323_c_ReqTypeValue_def" />
      <string name="ManualTriggerInput_Ta_Ux0323_omu_Ux0323_c_ReqReason_def" />
      <string name="ManualTriggerInput_Ta_Ux0323_omu_Ux0323_c_ReqPerValue_def" />
      <string name="ManualTriggerInput_Ta_Ux0323_omu_Ux0323_c_ReqDesc_def" />
      <object name="ManualTriggerInput">
        <property name="varIDUser_Giátrị" type="integer" />
        <property name="Tạomục_Tiêuđề" type="string" />
        <property name="Tạomục_Description" type="string" />
        <property name="Tạomục_ReqTypeValue" type="string" />
        <property name="Tạomục_ReqReason" type="string" />
        <property name="Tạomục_ReqPerValue" type="string" />
        <property name="Tạomục_ReqDesc" type="string" />
      </object>
      <string name="ResponseActionOutput_iduser_def" />
      <string name="ResponseActionOutput_title_def" />
      <string name="ResponseActionOutput_reqtype_def" />
      <string name="ResponseActionOutput_reqper_def" />
      <string name="ResponseActionOutput_description_def" />
      <string name="ResponseActionOutput_reqrea_def" />
      <object name="ResponseActionOutput">
        <property name="iduser" type="string" />
        <property name="title" type="string" />
        <property name="reqtype" type="string" />
        <property name="reqper" type="string" />
        <property name="description" type="string" />
        <property name="reqrea" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="varIDUser_Giátrị" path="/varIDUser_Giátrị" type="xs:long" required="true" />
            <param style="plain" name="Tạomục_Tiêuđề" path="/Tạomục_Tiêuđề" type="xs:string" required="true" />
            <param style="plain" name="Tạomục_Description" path="/Tạomục_Description" type="xs:string" required="true" />
            <param style="plain" name="Tạomục_ReqTypeValue" path="/Tạomục_ReqTypeValue" type="xs:string" required="true" />
            <param style="plain" name="Tạomục_ReqReason" path="/Tạomục_ReqReason" type="xs:string" required="true" />
            <param style="plain" name="Tạomục_ReqPerValue" path="/Tạomục_ReqPerValue" type="xs:string" required="true" />
            <param style="plain" name="Tạomục_ReqDesc" path="/Tạomục_ReqDesc" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>