Request-Access-Right-dev/pkgs/Wadl/InsertUserinUserGroup.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="InsertUserinUserGroup" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Insert User in UserGroup" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_varIdUser_Gia_Ux0301_tri_Ux0323__def" />
      <integer name="ManualTriggerInput_varIdGroup_Gia_Ux0301_tri_Ux0323__def" />
      <object name="ManualTriggerInput">
        <property name="varIdUser_Giátrị" type="string" />
        <property name="varIdGroup_Giátrị" type="integer" />
      </object>
      <string name="ResponseActionOutput_fail_def" />
      <string name="ResponseActionOutput_success_def" />
      <object name="ResponseActionOutput">
        <property name="fail" type="string" />
        <property name="success" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="varIdUser_Giátrị" path="/varIdUser_Giátrị" type="xs:string" required="true" />
            <param style="plain" name="varIdGroup_Giátrị" path="/varIdGroup_Giátrị" type="xs:long" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>