Request-Access-Right-dev/pkgs/Wadl/Login.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Login" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Login" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Kh_Ux01A1_Ux0309_i_Ux0111_uxE2_Ux0300_ubi_uxEA_Ux0301_n_Gia_Ux0301_tri_Ux0323__def" />
      <string name="ManualTriggerInput_varPass_Gia_Ux0301_tri_Ux0323__def" />
      <object name="ManualTriggerInput">
        <property name="Khởiđầubiến_Giátrị" type="string" />
        <property name="varPass_Giátrị" type="string" />
      </object>
      <string name="ResponseActionOutput_id_def" />
      <string name="ResponseActionOutput_username_def" />
      <string name="ResponseActionOutput_password_def" />
      <string name="ResponseActionOutput_email_def" />
      <string name="ResponseActionOutput_position_def" />
      <string name="ResponseActionOutput_department_def" />
      <string name="ResponseActionOutput_grouprole_def" />
      <string name="ResponseActionOutput_role_name_def" />
      <object name="ResponseActionOutput">
        <property name="id" type="string" />
        <property name="username" type="string" />
        <property name="password" type="string" />
        <property name="email" type="string" />
        <property name="position" type="string" />
        <property name="department" type="string" />
        <property name="grouprole" type="string" />
        <property name="role_name" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Khởiđầubiến_Giátrị" path="/Khởiđầubiến_Giátrị" type="xs:string" required="true" />
            <param style="plain" name="varPass_Giátrị" path="/varPass_Giátrị" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>