Request-Access-Right-dev/pkgs/Wadl/RejectRequest.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://asia-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="RejectRequest" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Reject Request" />
  <grammars>
    <jsonTypes targetNamespace="https://asia-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_varEmail_Gia_Ux0301_tri_Ux0323__def" />
      <integer name="ManualTriggerInput_varIDUser_Gia_Ux0301_tri_Ux0323__def" />
      <integer name="ManualTriggerInput_varIDReq_Gia_Ux0301_tri_Ux0323__def" />
      <string name="ManualTriggerInput_varReason_Gia_Ux0301_tri_Ux0323__def" />
      <object name="ManualTriggerInput">
        <property name="varEmail_Giátrị" type="string" />
        <property name="varIDUser_Giátrị" type="integer" />
        <property name="varIDReq_Giátrị" type="integer" />
        <property name="varReason_Giátrị" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://asia-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="varEmail_Giátrị" path="/varEmail_Giátrị" type="xs:string" required="true" />
            <param style="plain" name="varIDUser_Giátrị" path="/varIDUser_Giátrị" type="xs:long" required="true" />
            <param style="plain" name="varIDReq_Giátrị" path="/varIDReq_Giátrị" type="xs:long" required="true" />
            <param style="plain" name="varReason_Giátrị" path="/varReason_Giátrị" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>